<h1>{{ title }}</h1>
<br/>
<form #newEmployeeForm="ngForm" role="form" (ngSubmit)="newEmployeeForm.form.valid && OnSubmit(newEmployeeForm)">
<div class="form-group">
<label for="name">Employee Name:</label>
<input type="text" id="name" name="name" [(ngModel)]="name" #pickedname="ngModel" required pattern="[a-zA-Z ]+" ng-pattern-restrict minlength="3"  maxlength="30"/>
<div *ngIf="!pickedname.valid && pickedname.touched">
 User Name is invalid!
</div>
</div>
<br/>
<div class="form-group">
<label for="location">Location:</label>
<select id="location" name="location" [(ngModel)]="location" #pickedLocation="ngModel" form="employeeAddForm">
    <option *ngFor="let city of cities" [value]="city">{{ city }}</option>
</select>
</div>
<br/>
<div class="form-group">
<label for="email">Email:</label>
<input type="email" id="email" name="email" required [(ngModel)]="email" #pickedEmail="ngModel" email/>
<div *ngIf="!pickedEmail.valid && pickedEmail.touched">
    Email is invalid!
</div>
<br/>
</div>
<br/>
<div class="form-group">
<label for="mobile">Mobile:</label>
<input type="text" id="mobile" name="mobile" required [(ngModel)]="mobile" #pickedMobile="ngModel" minlength="10" maxlength="10" pattern="[0-9]*"/>
<div *ngIf="!pickedMobile.valid && pickedMobile.touched">
    Mobile Number is invalid!
</div>
</div>

<br/>
<button type="submit" [id]="submitbuttonid" [disabled]="!newEmployeeForm.form.valid || location===''">{{ edit ? 'Update' : 'Submit' }}</button>
</form>