<div *ngIf="employee!==null">
ID : {{ employee.id }}<br/>
Name : {{ employee.name }}<br/>
Location : {{ employee.location }}<br/>
Email : {{ employee.email }}<br/>
Mob. : {{ employee.mobile }}<br/>
<a role="button" class="button" href="javascript:void(0);" (click)="goBack()">Back</a>
</div>