<label>Filter By: </label>
<br/>
<input type="text" id="filter" [(ngModel)]="nameFilter"/>
<br/><br/>
<label> Number of Employees : </label><label id="count">{{ employeeCount }}</label>
<br/><br/>
<table border = "1">
    <thead>
        <tr>
          <th>Emp ID</th>
          <th>Name</th>
          <th>Location</th>
          <th>Email</th>
          <th>Mobile</th>
          <th>Edit</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
          <tr *ngFor="let employee of employeeslist | employeeFilter: nameFilter">
            <td><a role="button" routerLink="/details" (click)="selEmp(employee)">{{ employee.id }}</a></td>
            <td id="name{{employee.id}}">{{ employee.name }}</td>
            <td id="loc{{employee.id}}">{{ employee.location }}</td>
            <td id="email{{employee.id}}">{{ employee.email }}</td>
            <td id="mob{{employee.id}}">{{ employee.mobile }}</td>
            <td><a class="button" routerLink="/editEmployee" (click)="selEmp(employee)">Edit{{ employee.id }}</a></td>
            <td><a class="button" href="javascript:void(0);" (click)="DelEmp(employee.id)">Delete{{ employee.id }}</a></td>
          </tr>
      </tbody>
</table>