<h1>{{title}}</h1>

<nav>
  <a routerLink="employees" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Employees List</a>
  <a routerLink="addEmployee" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Add Employee</a>
</nav>
<br/>
<router-outlet></router-outlet>